.about-travel {
    background-color: #f0f8ff; /* light sky blue background */
  }
  
  .about-travel h2 {
    color: #37517e;
  }
  
  .about-travel ul {
    color: #495057;
    font-size: 1.05rem;
  }
  