.about{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.794);
    text-align: center;
}

.about-sec{
    width: 65%;
    height: 400px;
    margin: auto;
    /* background-color: aliceblue; */
}

.about-sec h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
    font-size: 45px;
    color: white;
}

.about-sec p{
    font-size: 20px;
    line-height: 30px;
    width: 95%;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-sec button{
    width: 23%;
    height: 60px;
    font-size: 30px;
    margin-top: 20px;
    padding: 9px;
    background-color: transparent;
    border: 4px solid  #8FBAff;
    color: #8FBAff;
    border-radius: 20px;
}