.details {
  width: 100%;
  height: 740px;
  background-color:  rgba(0, 0, 0, 0.794);
  display: flex;
  align-items: center;
}

.sec-tools{
  width: 4.5%;
  height: 250px;
  margin-bottom: 70px;
  background-color: rgba(0, 0, 0, 0.237);
  border: 1px solid black;
  border-radius: 0px 10px 10px 0px;
  background-attachment:fixed;
}

.logo li a img{
  width: 75%;
  height: 50px;
  margin: 10px 0px 0px 4.5px;
}

.sec-left {
  height: 350px;
  margin-left: 6.5%;
}

.sec-left p {
  color: white;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sec-left h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 55px;
  font-weight: bold;
  background:  linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-left .detail{
    font-size: 48px;
}

.sec-left button{
  width: 50%;
  height: 60px;
  font-size: 30px;
  margin-top: 20px;
  padding: 9px;
  background-color: transparent;
  border: 4px solid  #8FBAff;
  color: #8FBAff;
  border-radius: 20px;
}

.sec-right img{
    width: 100%;
    height: 650px;
    padding-left: 150px;
    padding-bottom: 80px;
}